# API Configuration
NG_APP_API_URL=https://localhost:7118/api

# Google Authentication
# Get your Google Client ID from: https://console.cloud.google.com/
NG_APP_GOOGLE_CLIENT_ID=1028039254668-jhjrelhsrdg7j27mhkhbr0vcecvj938u.apps.googleusercontent.com

# Environment
NG_APP_PRODUCTION=false
